.banner, .slider {

  background: @black;
  margin-bottom: @spaced/1.5;
  position: relative;
  color: @white;

  h1,h2,h3,h4,h5,h6 {
    color: inherit;
    .proxima();
    font-weight: 500;
    line-height: 1.1;
  }

  h1 {
    @media @min {
      .font_size(38);
    }
    @media @tablet {
      .font_size(48);
    }
    @media @desktop {
      .font_size(58);
    }
  }

  &--slide {
    
    position: relative;

    @media @min {
      min-height: 350px;
    }
    @media @tablet {
      min-height: 420px;
    }
    @media @desktop {
      min-height: 420px;
    }

  }

  &--background {
    .cover();
    background-size: cover;
    background-position: center center;
    opacity: .75;
  }

  &--centered {

    .center();
    width: 100%;
    z-index: 2;

    @media @min {
      text-align: center;
      padding: 0 @spaced;
    }

    @media @tablet {
      padding: 0 @spaced*2;
    }

    @media @desktop {
      padding: 0 @spaced*3;
    }

  }

  .fs-carousel {

    &-pagination {
      text-align: right;
      position: absolute;
      bottom: 0;
      width: 100%;
    }

    &-page {
      background: transparent url('icon-cookie-off.png');
      background-size: cover;
      transition: 300ms ease;
    }

    &-active {
      background: transparent url('icon-cookie-on.png');
      background-size: cover;
    }

  }

}

#mailchimp {

  position: relative;
  z-index: 9;

  button {

    padding: 0 15px;
    background: @orange;
    color: @white;
    border-radius: 0;
    .font_size(16);
    -webkit-font-smoothing: antialiased;

    @media @tablet {
      position: absolute;
      transform: translate(-15px, -50%);
    }

  }

}