.cart {

   .proxima();
   font-weight: 300;
   .font_size(19);

   header {
      text-transform: uppercase;
      .font_size(16);
   }

   .btn {
      .proxima();
      .font_size(16);
      -webkit-font-smoothing: antialiased;
   }   

  &-item {

    &-cell {

      position: relative;

      .info {

        .center();
        width: 100%;

      }

    }

    &-qty {
      .info {
         padding: 0 @spaced;
         > span {
            display: none;
         }
      }
    }

  }

  .js {

   &-qty {

      @qtyHeight: 30px;

      position: relative;
      border-radius: 2px;
      border: 1px solid @bgGray;
      background-color: @white;

      &-subtotal {
        height: @qtyHeight;
        line-height: @qtyHeight + 1;
      }

    
      &__adjust {

        position: absolute;
        height: 100%;
        width: 25%;
        top: 0;
        color:@black25;

        &:hover {
         background: @bgGray;
        }

        &--minus {
           left: 0;
           border-right: 1px solid #eee;
         }

         &--plus {
           right: 0;
           border-left: 1px solid #eee;
         }

      }

      &__num {
        width: 50%;
        margin: auto;
        display: block;
        height: @qtyHeight;
        line-height: @qtyHeight + 1;
        padding: 0;
        text-align: center;
        background: none;
        border: none;
        box-shadow: none;
        .font_size(15);
      }

    }

  }

}