#cart--slideout {

  position: fixed;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1;
  background: @bgGray;
  padding: 15px;
  transform: translate(30%, 0%);
  transition: 300ms ease;

  &.fs-swap-active {
    right: 0;
    transform: translate(0%, 0%);
  }

  @media @min {
    width: 85%
  }

  @media @tablet {
    width: 33%;
  }

  @media @desktop {
    width: 25%;
  }

}