#cart--slideout {

  position: fixed;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1;
  background: @bgGray;
  transform: translate(300px, 0%);
  transition: 300ms ease;

  @media @min {
    padding: 30px 0 15px;
  }

  @media @desktop {
    padding: 65px 0 15px;
  }

  > .fs-row {
    position: relative;
  }

  &.fs-swap-active {
    right: 0;
    transform: translate(0%, 0%);
  }

  @media @min {
    width: 300px;
  }

  @media @tablet {
    width: 300px;
  }

  @media @desktop {
    width: 300px;
  }

  .btn {
    -webkit-font-smoothing: antialiased;
  }

  .cart-toggle {
    transform: rotate(45deg);
    position: relative;
    height: 30px;
    width: 30px;
    top: 0;
    line-height: 30px;
    text-align: center;
    position: absolute;
    .font_size(22);
    right: 0;
    color: @lightGray;
    top: -45px;
    &:hover {
      color: @gray;
    }
  }

  .header {

    &--title {
      .font_size(20);
      font-weight: 600;
    }

  }

  .content {

    @media @min {
      .linehead {
        display: none;
      }
    }

    @media @tablet {
      .linehead {
        display: none;
      }
    }

    .divider {
      margin: 10px 0;
      background: #ddd;
    }

    .text-center {
      @media @min {
        text-align: center;
      }
    }

    .text-right {
      @media @min {
        text-align: right;
      }
    }

  }

}

@fs-grid-gutter: 1.0416666666666667%;


.grid, .grid--full {

  margin: 0 -@fs-grid-gutter*2;

  &:after {
    content: '';
    display: block;
    clear: both;
  }

  &__item {

    display: block;
    float: left;
    margin: 0 @fs-grid-gutter;

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }

  }

  .one-quarter {
    width: 25% - (@fs-grid-gutter*2);
  }

  .three-quarters {
    width: 75% - (@fs-grid-gutter*2);
  }

  .one-half {
    width: 50% - (@fs-grid-gutter*2);
  }

  .two-thirds {
    width: 66.666666% - (@fs-grid-gutter*2);
  }

  .one-third {
    width: 33.3333% - (@fs-grid-gutter*2);
  }

  .ajaxcart__footer {

  }

  .ajaxcart {

    &__footer {
      //margin-top: 20px;
      //border-top: 1px solid @black25;
    }

    &__product-name {
      text-decoration: none;
      border-bottom: 0;
      .font_size(20);
      line-height: 1.2;
      font-weight: 300;
      .proxima();
    }

    @qtyHeight: 30px;

    &__qty {

      position: relative;
      border-radius: 2px;
      border: 1px solid @bgGray;
      background-color: @white;

      &-subtotal {
        height: @qtyHeight;
        line-height: @qtyHeight + 1;
      }

    
      &-adjust {
        position: absolute;
        height: 100%;
        width: 25%;
        top: 0;
        color:@black25;
      }

      &-num {
        width: 50%;
        margin: auto;
        display: block;
        height: @qtyHeight;
        line-height: @qtyHeight + 1;
        padding: 0;
        text-align: center;
        background: none;
        border: none;
        box-shadow: none;
        .font_size(15);
      }

      &--minus {
        left: 0;
        border-right: 1px solid #eee;
      }

      &--plus {
        right: 0;
        border-left: 1px solid #eee;
      }

      

    }

  }

}



.ajaxcart {



  &__footer {
    margin-top: 10px;
    //border-top: 1px solid #ddd;   
    padding-top: 10px;
    .font_size(14);
    p {
      font-size: inherit;
    }
  }

}