#header {

  padding: @spaced+10 0 @spaced;
  margin-bottom: @spaced;

  &--logo {

    display: block;
    text-align: center;
    margin-top: -10px;
    text-indent: -9999px;
    transition: 300ms ease;
    transform-origin: bottom left;

    &:hover {
      transform: rotate(-2deg);
    }

    @media @min {
      background: url('logo.svg') left center no-repeat;
      background-size: auto 100%;
      height: 60px;
    }

    @media @tablet {
      background: url('logo.svg') left center no-repeat;
      height: 90px;
      line-height: 90px;
    }

    @media @desktop {
      background: url('logo.svg') left center no-repeat;
    }

  }

  &--mobile {
    padding-top: 0;
  }

  .text-right {
    @media @min {
      text-align: right;
    }
  }

  .upper {

    position: relative;
    color: @lightGray;

    .menu-wrapper {

      display: inline-block;
      transition: none;
      text-transform: uppercase;

      .mobile {
        transition: none;
      }

      &.fs-swap-active {
        background:darken(@orange, 5%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        a {
          color: @white;
          border: none;
        }
        .mobile {
          opacity: 1;
          float: right;
          pointer-events: auto;
          box-shadow: 0 15px 15px 0 @black25;
        }
      }

    }

    a {

      display: inline-block;
      height: 24px;
      line-height: 24px;
      padding: 0 8px;
      color: @lightGray;
      font-weight: bold;
      .font_size(14);

      &#customer {
        &_login_link {
          padding: 0;
          text-decoration: underline;
        }
        &_register_link, &_logout_link {
          padding-left: 0;
          text-decoration: underline;
        }
      }

      &.cart-toggle {

        transition: 300ms ease;

        @media @min {
          border-right: 1px solid lighten(@lightGray, 15%);
        }
        @media @desktop {
          border-left: 1px solid lighten(@lightGray, 15%);
          border-right: 0;
          padding-right: 0;
        }

        .cart-icon {

          display: inline-block;
          height: 24px;
          width: 24px;
          background: url(icon-cart-sprite.svg) left 0 no-repeat;

          &.full {

            background: url(icon-cart-sprite.svg) right 0 no-repeat;
            background-size: auto 100%;
            
          }
        }
      }

    }
  }

  nav.lower {

    .btn-link {

      color: @orange;
      margin: 0;
      text-decoration: none;
      border-bottom: 2px solid transparent;
      border-radius: 0;
      padding: 0;
      text-transform: uppercase;
      .font_size(14.5);

      @media @min {

      }

      @media @tablet {
        margin: 0 5px;
      }

      @media @desktop {
        margin: 0 8px;
      }

      &.btn-last, &:last-child {
        margin-right: 0;
      }

      &:hover, &.current {
        border-bottom: 2px solid @lightblue;
      }

    }

    &.mobile {
      position: absolute;
      background: darken(@orange, 5%);
      z-index: 99;
      width: 185px;
      right: 0;
      border-radius: 3px;
      border-top-right-radius: 0;
      opacity: 0;
      pointer-events: none;
      padding: 10px 0;
      .btn-link {
        border: none;
        color: @white;
        display: block;
        text-align: right;
        margin: 0;
        padding: 0 10px;
        height: 30px;
        line-height: 30px;
        &.btn-last {
          padding: 0 20px!important;
        }
      }
    }

  }

  &.banner--clone {
    
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    background: @white;
    transform:translateY(-100%);
    transition:all 300ms ease-in-out;
    margin-bottom: 0;
    padding: @spaced/2 0;

    #header--logo {
      margin: 0;
      background-size: auto 100%;
      @media @min {
        height: 34px;
        margin-top: -5px;
        margin-bottom: -5px;
      }
      @media @tablet {
        height: 58px;
        margin: 0;
      }
    }

  }

  &.banner--stick {
    z-index: 99;
    box-shadow: 0 0 5px @black25;
    -webkit-transform:translateY(0%);
    -ms-transform:translateY(0%);
    transform:translateY(0%)
  } 

}