#header {

  padding: @spaced+10 0 @spaced;
  margin-bottom: @spaced/1.5;

  &--logo {

    display: block;
    text-align: center;
    height: 90px;
    line-height: 90px;
    margin-top: -10px;
    text-indent: -9999px;

    @media @min {
      background: url('logo-desktop.png') left center no-repeat;
    }

    @media @tablet {
      background: url('logo-desktop.png') left center no-repeat;
    }

    @media @desktop {
      background: url('logo-desktop.png') left center no-repeat;
    }

  }

  .text-right {
    @media @min {
      text-align: right;
    }
  }

  nav.lower {

    .btn-link {

      color: @orange;
      margin: 0;
      text-decoration: none;
      border-bottom: 2px solid transparent;
      border-radius: 0;
      padding: 0;
      text-transform: uppercase;
      .font_size(14.5);

      @media @min {

      }

      @media @tablet {
        margin: 0 5px;
      }

      @media @desktop {
        margin: 0 8px;
      }

      &.btn-last {
        margin-right: 0;
      }

      &:hover, &.current {
        border-bottom: 2px solid @lightblue;
      }

    }

  }

}