@fs-grid-gutter: 1.0416666666666667%;

body,html {

  .lato();

  @media @desktop {
    height: 100%;
  }

}

h1,h2,h3,h4,h5,h6 {
  .proxima();
  font-weight: 400;
  color: @gray;
}

#wrapper {

  position: relative;
  z-index: 2;
  transition: transform 300ms ease;
  background: @white;
  -webkit-backface-visibility: hidden;

  @media @min {
    box-shadow: 0 0 25px rgba(0,0,0,.1);
  }

  &-wrapper {
//    min-height: 100vh;
  }

  &.fs-swap-active {

    @media @min {
      transform: translate(-300px, 0%);
    }

    @media @tablet {
      transform: translate(-300px, 0%);
    }

    @media @desktop {
      transform: translate(-300px, 0%);
    }

  }

}

.header {

  &--title {
    color: @orange;
    margin-bottom: @spaced/1.5;
    text-transform: capitalize;
    .font_size(48);

    &.more {
      color: @gray;
    }

  }

  &--icon {

    background: lighten(@lightblue, 12%);
    border-radius: 50%;
    display: inline-block;
    height: 44px;
    width: 44px;
    text-align: center;

    &:before {
      color: @white;
      position: relative;
      top: .125em;
      text-shadow: 0 0 2px darken(@lightblue, 10%);
    }

  }

}