<div id="mailchimp">
   <button class="btn mailchimp-toggle mailchimp_linked" data-swap-target=".email-popup" data-swap-linked=".mailchimp_linked">Sign up for special offers, news, and recipes!</button>
</div>
