<div id="error">
   <div id="error-centered">
      <div class="fs-row">
         <div class="fs-cell fs-lg-8 fs-md-4 fs-sm-3 fs-centered">            
            <img src="{{ 'error_img.png'  | asset_url }}" class="img-responsive" alt="Error" />
            <br>
            <h1>Cookies Not Found</h1>
            <a href="/collections">Return to the Shop</a>
         </div>
      </div>
   </div>
</div>
<hr class="invisible">