<section id="page">

   <header id="page--header" class="header">
      <div class="fs-row">
         <div class="fs-cell fs-all-full">
            <h1 class="header--title">{{ page.title }}</h1>
         </div>
      </div>
   </header>

   <div class="page--content">
      <div class="fs-row">
         <div class="fs-cell fs-all-full">
            {{ page.content }}
         </div>
      </div>
   </div>

</section>

<script>
  $(document).ready(function(){
    fbq('track', 'ViewContent');
  });
</script>