<div class="fs-row">
  <div class="fs-cell fs-all-full">
    <section id="page" class="oneforme">
      <h1 class="header--title"><img alt="One For Me, One For You" src="{{ 'Divvies_CookieDisplayShelvingStickers_OUTPUT_02v3.jpg' | asset_url }}" class="img-responsive" /></h1>
      <div class="fs-row">

        {% unless page.handle contains 'thank-you' %}

        <div class="fs-cell fs-lg-7 fs-md-3 fs-sm-3"><div class="wrapper oneforme__content">{{ page.content }}</div></div>      
        <div class="fs-cell fs-lg-5 fs-md-3 fs-sm-3"><div class="wrapper oneforme__form">{% include 'mailchimp-form-onefor' %}</div></div>      

        {% else %}

        <div class="fs-cell fs-lg-7 fs-md-3 fs-sm-3 fs-centered"><div class="wrapper oneforme__content text-center">{{ page.content }}</div></div>      

        {% endunless %}
      </div>
    </section>
    <small style="text-align:center">The “One For Me, One For You” promotion will run between February 18, 2017 and March 31, 2017.
Six winners, for a total of twelve recipients, will be drawn at random from entries received on April 1, 2017.
Winners will be notified by email within five days and a request will be made at that time for mailing addresses for both the entrant and the person that they wish to share the prize with. If any winner does not respond within ten days of email notification, a new winner will be drawn and notified as described above.
 Divvies will, upon written request, provide a list of the winners of this promotion.</small>
    <hr class="invisible">
  </div>
</div>

<script>
  $(document).ready(function(){
    fbq('track', 'ViewContent');
  });
</script>