<div id="cart" class="fs-grid">
  <div class="fs-row">
    <div class="fs-cell fs-all-full">

      <form action="/cart" method="post" novalidate class="cart table-wrap">
        <header class="fs-row">
          <hr class="fs-cell fs-all-full divider">
          <div class="fs-cell fs-lg-4 fs-md-3 fs-sm-half fs-lg-push-2 text-left">Product</div>
          <div class="fs-cell fs-lg-2 fs-md-1 fs-sm-hide text-center">Price</div>
          <div class="fs-cell fs-lg-2 fs-md-1 fs-sm-fourth text-center">Quantity</div>
          <div class="fs-cell fs-lg-2 fs-md-1 fs-sm-fourth text-right">Total</div>
          <hr class="fs-cell fs-all-full divider">
        </header>
        <div class="cart-content fs-row">
          {% for item in cart.items %} 
          {% include 'cart-item' %}
          {% endfor %}
        </div>
        <div class="cart-info fs-row">
          <div class="fs-cell fs-lg-7 fs-md-3 fs-sm-3">
            <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
            <textarea name="note" class="input-full" id="CartSpecialInstructions">{{ cart.note }}</textarea>
          </div>
          <div class="cart-total fs-cell fs-lg-4 fs-md-3 fs-sm-3 fs-right text-right">
            <span class="cart-total-price"><small>SUBTOTAL</small> <strong><?php echo $cart_Total; ?></strong></span><br>
            <span class="cart-total-shipping"><small>Shipping and taxes calculated at checkout.</small></span><br><br>
            <input type="submit" name="update" class="cart-total-update btn btn-secondary" value="{{ 'cart.general.update' | t }}">
            <button type="submit" name="checkout" class="cart-total-update btn btn-primary">{{ 'cart.general.checkout' | t }} &rarr;</button>
            <hr class="invisible">
          </div>
        </div>
      </form>

    </div>
  </div>
</div>