<section id="collection" class="collection-grid fs-row">
  <div class="fs-cell fs-full-all">

    {% include 'mailchimp' %}

    <div id="collection--slider" class="banner slider text-center">
      <div class="slider--slide">
        <a href="/products/test-thingy" class="coverlink"></a>
        <div class="banner--centered">
          <h1>New! Cookie Sandwiches</h1>
          <h2>Chocolate Brownie Cookie Sandwiches with Vanilla Filling</h2>
        </div>
        <div class="slider--background" style="background-image:url('http://i.imgur.com/37w80TG.jpg');"></div>
      </div>
    </div>

    <header id="collection--header" class="header">
      <h1 class="header--title">Treats</h1>
    </header>

    {% include 'collections-all' %}

  </div>
</section>
<hr class="invisible">