<section id="collection" class="collection-grid fs-row">
  <div class="fs-cell fs-full-all">

    <div class='fs-row'>
      <div class="fs-cell fs-all-full">
        {% include 'mailchimp' %}
        <div id="collection--hero" style="background-image:url('{{ collection.image.src | img_url: '1024x1024' }}');">
          <div class="wrapper fs-cell fs-all-full fs-contained">
            <a href="/collections" class="ss-gizmo ss-navigateleft">Back to Treats</a>
            <h1>{{ collection.title }}</h1>
          </div>
        </div>
      </div>
    </div>

    <hr class="invisible">

    <div id="collection-listing--collection-grid" class="collection-grid fs-row text-center">

    {% for product in collection.products %}
    {% include 'product-grid-item' %}
    {% endfor %}

    </div>


  </div>
</section>
<hr class="invisible">