<section id="index" class="fs-row">

  <div class="fs-cell fs-all-full">

  {% include 'mailchimp' %}

  <div id="index--slider" class="banner slider text-center">

    <div class="slider--slide">
      <a href="/" class="coverlink"></a>
      <div class="slider--content banner--centered">
        <h1>Divvies’ treats are safe, sweet, and delicious. No nuts, no eggs, no dairy – no leftovers.</h1>
      </div>
      <div class="slider--background" style="background-image:url('http://i.imgur.com/37w80TG.jpg');"></div>
    </div>

    <div class="slider--slide">
      <a href="/" class="coverlink"></a>
      <div class="slider--content banner--centered">
        <h1>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h1>
      </div>
      <div class="slider--background" style="background-image:url('http://i.imgur.com/37w80TG.jpg');"></div>
    </div>
    
    
  </div>

  <div id="index--collection-grid" class="collection-grid fs-row text-center">

    <div class="collection-grid--item fs-cell fs-lg-4 fs-md-2 fs-sm-3">
      <a class="coverlink" href="/collections"></a>
      <span class="btn btn-collection bg-color bg-color-coral">Shop Treats</span>
      <div class="collection-grid--item_thumb">
        <img src="{{ 'shop-treats.jpg' | asset_url }}" class="img-responsive" alt="" />
      </div>
    </div>

    <div class="collection-grid--item fs-cell fs-lg-4 fs-md-2 fs-sm-3">
      <a class="coverlink" href="/pages/locator"></a>
      <span class="btn btn-collection bg-color bg-color-lightblue">Where to Find Us</span>
      <div class="collection-grid--item_thumb">
        <img src="{{ 'shop-locate.jpg' | asset_url }}" class="img-responsive" alt="" />
      </div>
    </div>

    <div class="collection-grid--item fs-cell fs-lg-4 fs-md-2 fs-sm-3">
      <a class="coverlink" href="/pages/faq"></a>
      <span class="btn btn-collection bg-color bg-color-grey">FAQ</span>
      <div class="collection-grid--item_thumb">
        <img src="{{ 'shop-faq.jpg' | asset_url }}" class="img-responsive" alt="" />
      </div>
    </div>

  </div>

  </div>

</section>
<hr class="invisible">