<section id="index" class="fs-row">

  <div class="fs-cell fs-all-full">

  {% include 'mailchimp' %}
  {% include 'home-hero' %}

  <div id="index--collection-grid" class="collection-grid fs-row text-center">

    <div class="collection-grid--item fs-cell fs-lg-4 fs-md-2 fs-sm-3">
      <a class="coverlink" href="/collections"></a>
      <span class="btn btn-collection bg-color bg-color-coral">Shop Treats</span>
      <div class="collection-grid--item_thumb">
        <img src="{{ 'shop-treats.jpg' | asset_url }}" class="img-responsive" alt="" />
      </div>
    </div>

    <div class="collection-grid--item fs-cell fs-lg-4 fs-md-2 fs-sm-half">
      <a class="coverlink" href="/pages/find-us"></a>
      <span class="btn btn-collection bg-color bg-color-lightblue">Where to Find Us</span>
      <div class="collection-grid--item_thumb">
        <img src="{{ 'shop-locate.jpg' | asset_url }}" class="img-responsive" alt="" />
      </div>
    </div>

    <div class="collection-grid--item fs-cell fs-lg-4 fs-md-2 fs-sm-half">
      <a class="coverlink" href="/pages/faq"></a>
      <span class="btn btn-collection bg-color bg-color-grey">FAQ</span>
      <div class="collection-grid--item_thumb">
        <img src="{{ 'shop-faq.jpg' | asset_url }}" class="img-responsive" alt="" />
      </div>
    </div>

  </div>

  </div>

</section>
<hr class="invisible">

<script>
  $(document).ready(function(){
    fbq('track', 'ViewContent');
  });
</script>