<section id="collection-listing" class="collection-grid fs-row">
  <div class="fs-cell fs-full-all">

    {% include 'mailchimp' %}
    {% include 'collection-hero' %}

    <header id="collection-listing--header" class="header">
      <h1 class="header--title">Treats</h1>
    </header>

    {% include 'collections-all' %}

  </div>
</section>
<hr class="invisible">