<section id="collection-listing" class="collection-grid fs-row">
<div class="fs-cell fs-full-all">

  {% include 'mailchimp' %}

  <div id="collection-listing--slider" class="banner slider text-center">
    <div class="slider--slide">
      <div class="banner--centered">
        <h1>New! Cookie Sandwiches</h1>
        <h2>Chocolate Brownie Cookie Sandwiches with Vanilla Filling</h2>
      </div>
      <div class="slider--background" style="background-image:url('http://i.imgur.com/37w80TG.jpg');"></div>
    </div>
  </div>

  <header id="collection-listing--header" class="header">
    <h1 class="header--title">Treats</h1>
  </header>

  <div id="collection-listing--collection-grid" class="collection-grid fs-row text-center">

    <div class="collection-grid--item fs-cell fs-lg-4 fs-md-2 fs-sm-3 equal">
      <a href="/?collection=cookies" class="btn btn-collection bg-color bg-color-lightblue">Cookies</a>
      <div class="collection-grid--item_thumb"></div>
    </div>

    <div class="collection-grid--item fs-cell fs-lg-4 fs-md-2 fs-sm-3 equal">
      <a href="/?collection=chocolate" class="btn btn-collection bg-color bg-color-orange">Chocolate</a>
      <div class="collection-grid--item_thumb"></div>
    </div>

    <div class="collection-grid--item fs-cell fs-lg-4 fs-md-2 fs-sm-3 equal">
      <a href="/?collection=popcorn" class="btn btn-collection bg-color bg-color-purple">Popcorn</a>
      <div class="collection-grid--item_thumb"></div>
    </div>

    <div class="collection-grid--item fs-cell fs-lg-4 fs-md-2 fs-sm-3 equal">
      <a href="/?collection=cupcakes" class="btn btn-collection bg-color bg-color-pink">Cupcakes</a>
      <div class="collection-grid--item_thumb"></div>
    </div>

    <div class="collection-grid--item fs-cell fs-lg-4 fs-md-2 fs-sm-3 equal">
      <a href="/?collection=gifts" class="btn btn-collection bg-color bg-color-yellow">Gifts</a>
      <div class="collection-grid--item_thumb"></div>
    </div>

    <div class="collection-grid--item fs-cell fs-lg-4 fs-md-2 fs-sm-3 equal">
      <a href="/?collection=other-goodies" class="btn btn-collection bg-color bg-color-lightgreen">Other Goodies</a>
      <div class="collection-grid--item_thumb"></div>
    </div>

  </div>

</div>
</section>