<div id="contact">

	<section id="contact--top">
		<div class="fs-row">
			<div class="fs-cell fs-lg-6 fs-md--3 fs-sm-3">
				<header class="page-header page-header-banner">
					<h1><span>Sign up for special offers</span></h1>
				</header>
				<br><br>
				<div class="text-center wrapper">
					{% include 'mailchimp-form' %}
				</div>
			</div>
			<div class="fs-cell fs-lg-6 fs-md--3 fs-sm-3">
				<div class="wrapper">
					<header class="page-header">
						<h1>Tell a Friend</h1>
					</header>
					<p>
						Divvies are too good not to share.  If you have a friend that you would like to tell about Divvies, please use the email below to send them a quick note.  We appreciate you helping to spread the word about our delicious Vegan and Nut Free Treats and we know your friends will thank you for thinking of them.
					</p>

					<script>
						var formattedBody = "Hey, give this a look. \n \nThought you'd like to know about these fantastic Vegan and Nut Free Treats. \n \n Check out the website when you have a minute!! divvies.com";
						var mailToLink = "mailto:?subject=Divvies Vegan and Nut Free Treats&body=" + encodeURIComponent(formattedBody);
						
						$(document).ready(function(){
							$("#emailSubmit").click(function(){
								window.location.href = mailToLink;	
							});
						});
					</script>

					<form id="create-email" class="text-center">
						<a href="#" class="btn btn-lg bg-color-orange" id="emailSubmit">Recommend to a Friend</a>
					</form>
				</div>
				<script>
					//$(document).ready(function(){
						$("#emailSubmit").on('click', function(){
							var input = $("#emailInput").val();
							$("#emailSubmit").attr('href', function(i, val) {
  								return val.replace('emailaddress', input);
							});
						});
					//});
				</script>
			</div>
		</div>
		<hr class="invisible">
	</section>

	<section id="contact--middle" class="bg-color-bggray page-section">
		<div class="fs-row">
			<div class="fs-cell fs-lg-4 fs-md-2 fs-sm-3 text-center">
				<h2>Call or Write</h2>
				<p>
					(914) 533-0333<br>
					700 Oakridge Common<br>
					South Salem, NY 10590<br>
					<a href="mailto:madetoshare@divvies.com">madetoshare@divvies.com</a>
				</p>
			</div>
			<hr class="thin fs-cell fs-lg-hide fs-md-hide fs-sm-3">
			<div class="fs-cell fs-lg-4 fs-md-2 fs-sm-3 text-center">
				<h2>Press or Media</h2>
				<p>
					Divvies Press<br>
					Susan Acker<br>
					<a href="mailto:susan@divvies.com">susan@divvies.com</a><br>
					(914) 533-0333
				</p>
			</div>
			<hr class="thin fs-cell fs-lg-hide fs-md-hide fs-sm-3">
			<div class="fs-cell fs-lg-4 fs-md-2 fs-sm-3 text-center">
				<h2>Wholesale Inquiries</h2>
				<p><a href="mailto:sales@divvies.com">sales@divvies.com</a></p>
				<a href="#" class="btn btn-primary bg-color-orange mailchimp-toggle suggested" data-swap-target="#contact--suggest" data-swap-linked=".suggested">Suggest a Retailer</a>
				<a href="{{ 'Divvies_request.pdf' | asset_url }}" class="btn bg-color-transgray" download>Download Form</a>
			</div>
		</div>
	</section>

	<section id="contact--map" class="bg-color-lightblue">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001.3200595138333!2d-73.51697079999997!3d41.214795200000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2a88bfd1273ad%3A0x9d6fbed9cd3eadba!2s700+Oakridge+Dr%2C+South+Salem%2C+NY+10590!5e0!3m2!1sen!2sus!4v1435618917611" width="800" height="265" frameborder="0" style="border:0" allowfullscreen></iframe>
	</section>

</div>

<div id="contact--suggest">
	<div class="fs-row">
		<div class="fs-cell fs-lg-7 fs-md-4 fs-sm-3 fs-centered">
			<hr class="invisible">
			<div id="contact--suggest_wrapper" class="wrapper">
				<header class="text-right wrapper">
					<a href="#" class="ss-gizmo ss-delete mailchimp-toggle suggested color-orange" data-swap-target="#contact--suggest" data-swap-linked=".suggested"></a>
				</header>
				{% include 'suggest' %}
			</div>
		</div>
	</div>
</div>