<section id="page">

   <header id="page--header" class="header" style="display:none;">
      <div class="fs-row">
         <div class="fs-cell fs-all-full">
            <h1 class="header--title">{{ page.title }}</h1>
         </div>
      </div>
   </header>

   <div class="page--content" style="overflow: hidden;">
      <div class="fs-row">
         <div class="fs-cell fs-all-full">
            {{ page.content }}
         </div>
      </div>
   </div>

</section>

<script>
   $(window).load(function(){
      $('#storemapper-list').addClass('fs-row');
      $('#storemapper-form').wrap( "<div id='storemapper-form_wrap'></div>" );
      $('#storemapper-form_wrap').wrapInner( "<div class='fs-row'></div>" );
      $('#storemapper-form_wrap .fs-row').wrapInner( "<div class='fs-cell fs-lg-8 fs-md-5 fs-sm-3 fs-centered'></div>" );
      function yolo(){
         $("#storemapper-list").equalize({
            target: ".tier"
         });
      }
      yolo();
      
      function boom(){
      $(".storemapper-storelink").click(function(){
         $("#storemapper-right").addClass('visible');
         $("#storemapper-form_wrap").addClass('visible');
         $("html, body").animate({ scrollTop: 0 }, 300);
          //return false;
      });
      }
      boom();
      $(document).change(function(){
         yolo(); 
         boom();
      });
   });
</script>

<script>
  $(document).ready(function(){
    fbq('track', 'ViewContent');
  });
</script>