<div id="account--history" class="bg-color bg-color-bggray">
	{% paginate customer.orders by 20 %}
	{% if customer.orders.size != 0 %}
	<div class="wrapper">
		<h2 id="account--history-title">Order History</h2>

		{% for order in customer.orders %}
		<div class="history-item">
			<div class="fs-row">
			<div class="fs-cell fs-lg-12 fs-md-4 fs-sm-3">
				<span>Order: {{ order.name | link_to: order.customer_url }}</span>
				<span>{{ order.created_at | date: format: 'month_day_year' }}</span>
				<span class="right">
					<span>{{ order.fulfillment_status_label }}</span>
				</span>
			</div>
			</div>
		{% endfor %}

		</div>
	</div>
	{% else %}
	<div class="wrapper">
		<h2 id="account--history-title">Order History</h2>
		<div class="empty">
			<div class="centered text-center">
				<p>You haven't placed any orders yet.</p>
				<a href="/" class="btn btn-lg bg-color bg-color-orange">Go get some!</a>
			</div>
		</div>
	</div>
	{% endif %}
	{% endpaginate %}
</div>
