{% for link in linklists.all-collections.links %}
{% assign collection = link.object %}


{% for link in linklists.all-collections.links %}
{% assign collection = link.object %}

  {% unless collection.handle == 'frontpage' %}

    {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}

    <div class="grid">
      {% for product in collection.products limit:5 %}
        {% assign grid_item_width = 'large--one-fifth medium--one-half' %}
        {% include 'product-grid-item' %}
      {% endfor %}
    </div>

    {% unless forloop.last %}<hr>{% endunless %}

  {% endunless %}

{% endfor %}
