<div class="product-grid--item fs-cell fs-lg-4 fs-md-2 fs-sm-half equal">
   <span class="btn btn-collection bg-color bg-color-{{ bgColor }}">{{ product.title }}</span>
   <div class="product-grid--item_thumb">
   <img src="{{ product | img_url: 'large' }}" alt="{{ product.image.alt }}" class="img-responsive" />
   </div>
</div>
